.usuarios-container {
    width: 90%;
    margin: auto;
    margin-top: 200px;
    background-color: ivory;
    border-radius: 20px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2,1fr);
    padding: 90px 110px;
    align-items: center;
    gap: 55px;
}
.usuarios-container h3 {
    text-align: center;
}
.usuarios-container input[type="text"] {
    border-radius: 4px;
}
.productos-form, .categoria-form {
    display:grid;
    align-items: center;
    gap: 15px;
    grid-template-columns: 4fr 1fr;
}