<footer class="footer ">
        <div class="mueca"></div>
        <p class="visitame">Visita mis redes sociales</p>
        <div class="imgs">
                <img class="first " src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-512.png " />
                <img class="second " src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_instagram-512.png ">
        </div>
        <p class="cristina "> Cristina Orlandini 2021 </p>
</footer>