<div class="header">
    <img src="img/logo.jpg" />
    <h1> El Mundo Pintado de Cris</h1>
    <h2>Sobre mi</h2>
    <div class="about-me">
        <div class="palo3"></div>
        <div class="palo4"></div>
        <div class="palo5"></div>
    </div>
</div>