<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>El Mundo Pintado de Cris</title>
    <!--AWESOME PATTERN -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <!-- FONTS BALOO TAMMA 2 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&family=Fraunces:wght@200&family=Open+Sans:wght@300&family=Vollkorn:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- FONT PACIFICO -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/main.css" type="text/css" />
</head>

<body>
    {{!-- Header --}}
    {{> header }}
    <div class="responsive-menu">
        <div class="responsive-menu-box">
            <h3>Rer</h3>
            <h3>sas</h3>
            <h3>ses</h3>
        </div>
        <h3>ABURTO</h3>
        <div class="close"> 
            <div class="palo1"></div>
            <div class="palo2"></div>
        </div>
    </div>
    
    <div class="products">
        <div class="product1">
            <a href="/product1">
                <img src="img/123.jpg">
                <p>Producto 1</p>
            </a>
        </div>

        <div class="product2">
            <a href="/product2">
                <img src="img/2.jpg">
                <p>Producto 2</p>
            </a>
        </div>
        <div class="product3">
            <a href="/product3">
                <img src="img/3.jpg">
                <p>Producto 3</p>
            </a>
        </div>
        <div class="product4">
            <a href="/product4">
                <img src="img/4.jpg">
                <p>Producto 4</p>
            </a>
        </div>
        <div class="product5">
            <a href="/product5">
                <img src="img/5.jpg">
                <p>Producto 5</p>
            </a>
        </div>
        <div class="product6">
            <a href="/product6">
                <img src="img/6.jpg">
                <p>Producto 5</p>
            </a>
        </div>
        <div class="product7">
            <a href="/product7">
                <img src="img/7.jpg">
                <p>Producto 5</p>
            </a>
        </div>
        <div class="product8">
            <a href="/product8">
                <img src="img/8.jpg">
                <p>Producto 5</p>
            </a>
        </div>
        <div class="product9 ">
            <a href="/product9 ">
                <img src="img/9.jpg">
                <p>Producto 9</p>
            </a>
        </div>
        <div class="product10 ">
            <a href="/product10 ">
                <img src="img/10.jpg">
                <p>Producto 10</p>
            </a>
        </div>
        <div class="product11 ">
            <a href="/product11 ">
                <img src="img/11.jpg">
                <p>Producto 11</p>
            </a>
        </div>
    </div>

    {{!-- FOOTER --}}
    <footer class="footer ">
        <p class="visitame">Visita mis redes sociales</p>
        <div class="imgs">
            <img class="first " src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-512.png " />
            <img class="second " src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_instagram-512.png ">
        </div>
        <p class="cristina "> Cristina Orlandini 2021 </p>
        <a href="/register "><button class="btn-reg "></button></a>
    </footer>
    <!-- JAVASCRIPT -->
    <script type="text/javascript " src="scripts/main.js "></script>
</body>

</html>
