<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>El Mundo Pintado de Cris</title>
    <link rel="icon" type="image/png" href="img/logo.png">

    <!--AWESOME PATTERN -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <!-- FONTS BALOO TAMMA 2 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&family=Fraunces:wght@200&family=Open+Sans:wght@300&family=Vollkorn:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- FONT PACIFICO -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/main.css" type="text/css" />
    <link rel="stylesheet" href="assets/register.css" type="text/css" />
</head>

<body>
    {{!-- Header --}}
    {{> header }}
    <div class="register-container">
        <form class="logeo">
            <label>Correo</label>
            <input class="login-email" type="email" required="required"/>
            <label>Contraseña</label>
            <input class="login-password" type="password" required="required"/>
            <h3 class="btn-create-account"> Aún no tienes cuenta ?</h3>
            <button class="login-submit" type="submit" required="required">Iniciar Sesión</button>
            <div class="logeo-server-response"></div>
        </form>
        <form class="registro">
            <label>Correo</label>
            <input class="register-email" type="email" required="required"/>
            <label>Username</label>
            <input class="register-username" type="text" required="required"/>
            <label>Contraseña</label>
            <input class="register-password" type="password" required="required"/>
            <h3 class="btn-login-account">Ya tienes una cuenta ? </h3>
            <button class="register-submit" type="submit" required="required">Registrarse</button>
            <h3 class="register-server-response"></h3>

        </form>
    </div>
    {{!-- FOOTER --}}
    {{> footer }}

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="scripts/main.js "></script>
    <script type="text/javascript" src="scripts/register.js"></script>
</body>

</html>