
.logeo {
    width: 90%;
    margin: auto;
    margin-top: 200px;
    background-color: ivory;
    border-radius: 20px;
    margin-bottom: 100px;
    display: grid;
    padding: 90px 110px 100px 110px;
}
.registro {
    width: 90%;
    margin: auto;
    margin-top: 200px;
    background-color: ivory;
    border-radius: 20px;
    margin-bottom: 100px;
    display: grid;
    padding: 90px 110px 100px 110px;
}

