<!DOCTYPE html>
<html>

{{> productshead}}

<body>
        {{> header }}

    <div class ="product">
    	<img src="https://i2.wp.com/thehappening.com/wp-content/uploads/2018/12/sombreros-perritos-7.jpg?fit=1024%2C694&ssl=1">
    	<h1>Producto 1</h1>
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id sapien lacinia, ornare urna ac, interdum sapien. Vestibulum ut neque quis lacus placerat aliquet cursus at dolor. Nam molestie sapien ipsum, nec convallis turpis rutrum nec. Donec eu justo vitae augue vehicula ornare quis in lorem. Sed egestas massa ac purus lacinia, sed tempor erat semper. Mauris tincidunt odio orci, sit amet posuere tellus sodales at. In a pretium velit, tristique sagittis leo. Nulla ultricies nunc ut sodales molestie. Duis fringilla, est non viverra feugiat, elit augue luctus arcu, in gravida odio nunc eu ipsum. Aliquam aliquet arcu euismod faucibus aliquam. In ac euismod nulla, id aliquet turpis. Mauris pretium porttitor cursus. Donec tempor urna a dui gravida, auctor dignissim. </p>
    </div>
    {{> footer}}
    <!-- JAVASCRIPT --> 
    <script type="text/javascript" src="main.js"></script>
</body>

</html> 